<ol class="breadcrumb">

<% if @current_folder %>
<%= link_to "Root", root_url %> <i class="fa fa-angle-double-right"></i>
	<% @current_folder.ancestors.reverse.each do |folder| %>
	<li><%= link_to(folder.name, browse_path(folder)) %></li>
	<% end %>
<li class="active"><%= @current_folder.name %></li>
<% else %>
Home<% end %>

</ol>