<div id="drop-area" class="drop-area">
  <div class="dummy-area">
    <div class="drop-area__item">
      <div class="dummy"></div>
    </div>
    <div class="drop-area__item">
      <div class="dummy"></div>
    </div>
    <div class="drop-area__item">
      <div class="dummy"></div>
    </div>
    <div class="drop-area__item">
      <div class="dummy"></div>
    </div>
    <div class="drop-area__item">
      <div class="dummy"></div>
    </div>
    <div class="drop-area__item">
      <div class="dummy"></div>
    </div>
    <div class="drop-area__item">
      <div class="dummy"></div>
    </div>
    <div class="drop-area__item">
      <div class="dummy"></div>
    </div>
  </div>