// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

html, body{
  font-family: "Roboto",sans-sarif;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color:white;
  padding-bottom: 80px;
  width: 100%;
  min-height: 95vh;

  }
section {
  @extend .row;
  margin-top: 20px;
  }

  .asset_list_header{
    font-size: 15px;
    @extend .text-muted;

  }
 .asset_list, .asset_details { 
    width:100%; 
    font-size:12px; 
    overflow:hidden; 
  
} 

.modal{
  form{
    margin-top: 35px;
  }
}
.file_name_header, .file_name { 
    width:25%; 
    float:left; 
    padding-left:20px; 
} 
.file_size_header, .file_size { 
    width:25%; 
    float:left; 
} 
.file_last_updated_header, .file_last_updated { 
    width:150px; 
    float:left; 
} 
.asset_list { 
    padding:20px 0; 
} 
.asset_details { 
    font-weight:normal; 
    height:25px; 
    line-height:25px; 
    border:1px solid #FFF; 
    width:80%; 
    color:#4F4F4F; 
} 
  
.asset_details a, .asset_details a:visited { 
    text-decoration:none; 
    color:#1D96EF; 
    font-size:12px; 
}

// .breadcrumbs { 
//    margin:10px 0; 
//    font-weight:bold; 
// } 
// .breadcrumbs a { 
//    color:#1D96EF; 
//    text-decoration:none; 
// }

.action { 
  span{
    padding:10px 5px;
  }
.btn.btn-xs {
    padding: 4px 6px 3px;
    font-size: 9px;
    margin:0;
}

} 

.center-block{
  float:none!important;
}

.table-container{
  padding:10px 3%;
}
.asset_details .share a,.asset_details .rename a,.asset_details .download a,.asset_details .delete { 
    border: 1px solid #CFE9FF; 
    font-size: 11px; 
    margin-left: 5px; 
    padding: 0 2px; 
} 
.asset_details .share a:hover,.asset_details .rename a:hover,.asset_details .download a:hover,.asset_details .delete:hover{ 
    border:1px solid #8FCDFF; 
} 
  
.asset_details .delete a{ 
    color:#BF0B12; 
    border:1px solid #FFCFD1; 
} 
  
.asset_details .delete a:hover{ 
    color:#BF0B12; 
    border:1px solid #FF8F93; 
}
.breadcrumb{
  background:transparent;
  margin:8px 0;
  font-size: 16px;
}


#menu { 
    padding:0 20px; 
    margin-bottom:20px ; 
    overflow:hidden; 
} 
#menu ul{ 
    padding:0; 
    margin:0; 
} 
#menu ul li { 
    list-style:none; 
    float:left; 
    display:block; 
    margin-right:10px; 
  
  
} 
#menu ul li a, #menu ul li a:visited{ 
    display:block; 
    padding:0 15px; 
    line-height:25px; 
    text-decoration:none; 
    color:#45759F; 
    background:#EFF8FF; 
    border:1px solid #CFEBFF; 
} 
#menu ul li a:hover, #menu ul li a:active{ 
    background:#DFF1FF; 
    border:1px solid #AFDDFF; 
}

.logo{
  color:#3498db;
      margin-top: 40px;
    margin-bottom: 30px;
}
#login_user_status{
  padding:30px;
}



.modal {
    // top: 60px;
    /*! adjust transition time */
    
    -webkit-transition: all 0.2s ease-in-out !important;
    -moz-transition: all 0.2s ease-in-out !important;
    -o-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
}

.modal.in .modal-dialog {
    /*! editthis transform to any transform you want */
    
    -webkit-transform: scale(1.1, 1.1) !important;
    -ms-transform: scale(1.1, 1.1) !important;
    transform: scale(1.1, 1.1) !important;
}

.modal.fade .modal-dialog {
    /*! disable sliding from left/right/top/bottom */
    
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{

  border-top:none!important;
}

thead {
  tr{
      @extend .text-muted;
      font-weight: 100;
      font-size: 15px;

  }
}