<%= form_for @cabinet, :html => {:multipart => true, class:"dropzone filedropzone"} do |f| %> 
  <%# f.error_messages %> 
           <%= f.hidden_field :folder_id %>

   <!--  <p> 
        <%# f.label :uploaded_file, "File" %><br /> 
        <%# f.file_field :uploaded_file %> 

      </p>  -->
<!--   <p><%# f.submit "Upload" %></p>  -->
<% end %>