<%# form_for @cabinet, :html => {:multipart => true, class:"dropzone filedropzone"} do |f| %> 

<%= form_tag '/cabinets', method: :post, class: "dropzone filedropzone" do %>

  <%# f.error_messages %> 
           <%# f.hidden_field :folder_id %>
<%= hidden_field_tag :folder_id , "#{@current_folder.id if @current_folder}" %>

   <!--  <p> 
        <%# f.label :uploaded_file, "File" %><br /> 
        <%# f.file_field :uploaded_file %> 

      </p>  -->
<!--   <p><%# f.submit "Upload" %></p>  -->
<% end %>